{
  "extends": "airbnb-base",
  "plugins": [
    "mocha",
  ],
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
  },
  "rules": {
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "global-require": ["off"],
    "arrow-parens": ["error", "always"],
    "no-param-reassign": ["error", { "props": false }],
    "class-methods-use-this": ["off"],
    "no-underscore-dangle": ["off"],
    "no-console": ["off"],
    "no-var": ["off"]
  }
}
